@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Contrail+One&family=Fira+Sans:wght@400;500;600&family=Germania+One&family=Josefin+Sans&family=Lato&family=Lobster&family=Montserrat:wght@300;400;500;600;700&family=Niconne&family=Nunito&family=Oleo+Script&family=Oswald:wght@300;400;500;700&family=PT+Sans:ital@1&family=Poppins:wght@400;500&family=Ubuntu:ital,wght@0,400;0,700;1,500&family=Yanone+Kaffeesatz:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
  outline: none;
}
.hide{
    display: none;
}
.show{
    display: block;
}
h2,h1,h4,h3{
    line-height: 1.6;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Ubuntu", sans-serif;
}
p {
  font-family: "Ubuntu", sans-serif;
  opacity: 0.85;
  font-size: 18px;
}
.navbar{
    .container{
        .navbar-brand{
            height: 80px;
            width: 160px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        ul li{
            padding: 8px;
            text-align: center;
            a{
                font-family: lato;
                text-transform: uppercase;
                font-size: 13px;
                color: rgb(9, 84, 160);
            }
            a.active{
                color: #0a0905;
                font-weight: bold;
            }
        }
        @media (max-width:991px) {
            ul{
                padding: 0 20px;
                li{
                    margin-bottom: 8px;
                    transition: all .3s ease-in-out;
                    &:hover{
                        background: rgba(0, 0, 0, 0.1);
                    }
                }
            }
            
        }
    }
}

.home-section {
  position: relative;
  height: 90vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 30, 0.4), rgba(0, 0, 30, 0.4)),
    url(/home.jpg) no-repeat center center/cover;
  .container {
    flex-direction: column;
    h2 {
      font-size: 50px;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      line-height: 1.4;
      @media (max-width: 991px) {
        font-size: 40px;
      }
      @media (max-width: 556px) {
        font-size: 35px;
        font-weight: bold;
      }
    }
    p {
        @media (max-width: 556px) {
            font-size: 16px;
            font-weight: normal;
          }
      color: white;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 1.2px;
      word-spacing: 2.4px;
      font-family: montserrat;
    }
    .home-btn {
      height: 45px;
      width: 172px;
      border: 0;
      text-transform: uppercase;
      font-size: 14px;
      font-family: Montserrat;
      font-weight: 600;
      border-radius: 100px;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
      cursor: pointer;
      i {
        margin-left: 10px;
        font-size: 18px;
        color: rgb(11, 107, 11);
      }
    }
  }
}
.headline {
  margin: 0;
  .container-fluid .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: 19px;
    color: rgb(160, 140, 9);
    gap: 0;
    row-gap: 0;
    .cols {
      position: relative;
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }
    .cols.d-flex {
      padding: 20px;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      margin-bottom: 20px;
    }
  }
}

.portfolio-grid .container {
  .filter-btns {
    flex-wrap: wrap;
    .filter-btn {
      border: 1px solid rgba(0, 0, 0, 0.4);
      padding: 12px 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 24px;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: .5px;
      color: rgba(0, 0, 0, 0.6);
      cursor: pointer;
      &.active {
        background: rgba(0, 0, 0, 0.6);
        color: white;
      }
    }
    @media (max-width:991px) {
        .filter-btn{
            padding: 8px 16px;
        }
    }
  }
  .my-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    overflow: hidden;
    .card {
      border: 0;
      border-radius: 0;
      background: rgba(0, 0, 200, 0.03);
      overflow: hidden;
      height: 350px;
      cursor: pointer;
      img{
        width: 100%;
        height: 100%;
        height: 300px;
        object-fit: cover;
      }
      .image-name {
        font-family: "Ubuntu", sans-serif;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.6);
        padding: 10px 0;
        text-align: center;
        height: 50px;

      }
    }
    .card.hide{
        display: none;
    }
    .card.show{
        display: block;
        animation: zoom .3s ease-in-out;
    }
    @keyframes zoom {
        0%{ transform: scale(.7);}
        100%{ transform:scale(1);}
    }
  }
}


.my-title{
    padding: 40px 0;
    margin-bottom: 50px;
    font-family: serif;
    h2{
        line-height: 1.6;
        font-weight: normal;
        font-family: serif;
        text-transform: capitalize;
        padding: 20px 0;
        font-style: italic;
        color: #0a0905;
        position: relative;
        font-size: 35px;
        line-height: 1;
        text-transform: uppercase;
        &::before{
            content: '';
            height: 5px;
            width: 80px;
            position: absolute;
            left: 0;
            bottom: 0;
            background: rgb(9, 84, 160);
        }
    }
    p{
        font-family: serif;
        opacity: .8;
        font-style: italic;
    }
}
.about-me{
    padding:50px 0;
    .container{
        .div{
            img{
                width: 100%;
                height: auto;
                max-height: 500px;
                object-fit: cover;
                margin-bottom: 40px;
            }
            .row .inner h2{
                font-family: serif;
                font-style: italic;
                font-weight: bold;
                opacity: .9;
                margin-bottom: 25px;
            }
            .row .inner p{
                font-size: 16px;
                opacity: .85;
                font-family: serif;
                font-style: italic;
            }
            .row .inner ul{
                list-style-type: circle;
            }
            .row .inner ul li{
                font-family: serif;
                font-style: italic;
                opacity: .85;
                list-style-type: circle;
            }
            .row .forms{
                .groups{
                    h3{
                        font-family: serif;
                        font-weight: 500;
                        margin-bottom: 0;
                        font-style: italic;
                        color: rgb(203, 177, 5);
                    }
                    p{
                        font-family: serif;
                        margin-bottom: 0;
                        font-size: 15px;
                        opacity: .8;
                    }
                }
                .groups.social-links div{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items:center;
                    margin-top: 20px;
                    gap: 10px;
                    i{
                        height: 40px;
                        width: 40px;
                        background-color: rgba(203, 177, 5, 0.678);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        color: #0a0808;
                    }
                }
                .form-inputs{
                    input,textarea{
                        width: 100%;
                        padding: 10px;
                        border:0;
                        margin-bottom: 10px;
                        background: #e5e5e5;
                        font-family: serif;
                        &::placeholder{
                            font-family: serif;
                            font-style: italic;
                        }
                        &:hover{
                            background: #c4c3c3;
                        }
                    }
                    .btn{
                        background: #e5e5e5;
                        border-radius: 0;
                        font-family: serif;
                        font-style: italic;
                        font-weight: 600;
                        transition: all .3s ease-in-out;
                        padding: 12px;
                        &:hover{
                            background: #c4c3c3;
                        }
                    }
                }
            }
        }
    }
}

.album-section{
    padding-top: 50px;
    .container{
        .row{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(2,1fr);
            @media (max-width:768px) {
                grid-template-columns: 1fr;
            }
        }
        .row .card{
            position: relative;
            overflow: hidden;
            border-radius: 0;
            transition: all .3s ease-in-out;
            border: 0;
            img{
                height: 100%;
                object-fit: cover;
            }
            .details{
                transition: all .3s ease-in-out;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                padding: 20px;
                h4{
                    font-family: serif;
                    color: white;
                    font-style: italic;
                    margin-bottom: 0;
                    text-transform: capitalize;
                }
                p{
                    font-style: italic;
                    font-family: serif;
                    color: white;
                    opacity: .8;
                }
            }
            &:hover .details{
                opacity: 0;
            }
            &:hover{
                transform: scale(.98);
            }
        }
    }
}

.go-to-top{
    height: 50px;
    width: 35px;
    position: fixed;
    bottom: 10%;
    right: 10%;
    background: rgba(255, 255, 255, 0.615);
    backdrop-filter: blur(5px);
    border-radius: 4px;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    a{
        height: 100%;
        width: 100%;
        transform: rotate(-90deg);
    }
}
.preview-image{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    .containers{
        max-width: 600px;
        max-height: 600px;
        box-shadow: 0 0 10px white;
        margin: 20px;
        border-radius: 20px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        i{
            position: absolute;
            right: 10%;
            top: 10%;
            background: white;
            height: 30px;
            width: 30px;
            cursor: pointer;
            box-shadow:  0 0 4px rgb(24, 26, 43);
        }
    }
}
.preview-image.active{
    display: flex;
    animation: zzoom .1s ease-in-out;
    @keyframes zzoom {
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
}

.services{
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 30, 0.4), rgba(0, 0, 30, 0.4)),
    url(https://media.istockphoto.com/photos/asian-senior-couple-enjoy-on-the-beach-picture-id1322107286?b=1&k=20&m=1322107286&s=170667a&w=0&h=rmJtZykmkWlv5mCL5KqYwQ6PXywUT1LmYhzoX_1d6S4=) no-repeat center center/cover;
}
.service-grid .container .row{
    .card{
        border: 0;
        text-align: center;
        height: 400px;
        margin-bottom: 20px;
        .card-body{
            overflow: hidden;
            height: 100px;
        }
        img{
            height: 100%;
            max-height: 300px;
            object-fit: cover;
            width: 100%;
        }
        h4{
            font-family: serif;
            color: #0a0905;
            font-size: 24px;
            text-transform: uppercase;
        }
        p{
            font-family: serif;
            font-style: italic;
            letter-spacing: .5px;
            font-size: 16px;
            font-weight: normal;
            opacity: .8;
        }
    }
}

footer{
    background: #b0b0b0;
}
footer .container .row{
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p{
        font-size: 15px;    
        font-family: serif;
        margin: 0;
    }
    div{
        font-family: pt sans;
        font-size: 12pxx;
        margin: 0;
        color: rgb(9, 105, 160);
    }
}