@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Contrail+One&family=Fira+Sans:wght@400;500;600&family=Germania+One&family=Josefin+Sans&family=Lato&family=Lobster&family=Montserrat:wght@300;400;500;600;700&family=Niconne&family=Nunito&family=Oleo+Script&family=Oswald:wght@300;400;500;700&family=PT+Sans:ital@1&family=Poppins:wght@400;500&family=Ubuntu:ital,wght@0,400;0,700;1,500&family=Yanone+Kaffeesatz:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
  outline: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

h2, h1, h4, h3 {
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Ubuntu", sans-serif;
  opacity: 0.85;
  font-size: 18px;
}

.navbar .container .navbar-brand {
  height: 80px;
  width: 160px;
}

.navbar .container .navbar-brand img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar .container ul li {
  padding: 8px;
  text-align: center;
}

.navbar .container ul li a {
  font-family: lato;
  text-transform: uppercase;
  font-size: 13px;
  color: #0954a0;
}

.navbar .container ul li a.active {
  color: #0a0905;
  font-weight: bold;
}

@media (max-width: 991px) {
  .navbar .container ul {
    padding: 0 20px;
  }
  .navbar .container ul li {
    margin-bottom: 8px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .navbar .container ul li:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.home-section {
  position: relative;
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 30, 0.4)), to(rgba(0, 0, 30, 0.4))), url(/home.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 30, 0.4), rgba(0, 0, 30, 0.4)), url(/home.jpg) no-repeat center center/cover;
}

.home-section .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-section .container h2 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  line-height: 1.4;
}

@media (max-width: 991px) {
  .home-section .container h2 {
    font-size: 40px;
  }
}

.home-section .container p {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.2px;
  word-spacing: 2.4px;
  font-family: montserrat;
}

.home-section .container .home-btn {
  height: 45px;
  width: 172px;
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  border-radius: 100px;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.home-section .container .home-btn i {
  margin-left: 10px;
  font-size: 18px;
  color: #0b6b0b;
}

.headline {
  margin: 0;
}

.headline .container-fluid .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-family: serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 19px;
  color: #a08c09;
  gap: 0;
  row-gap: 0;
}

.headline .container-fluid .row .cols {
  position: relative;
}

.headline .container-fluid .row .cols img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.headline .container-fluid .row .cols.d-flex {
  padding: 20px;
}

@media (max-width: 768px) {
  .headline .container-fluid .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
}

.portfolio-grid .container .filter-btns {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-grid .container .filter-btns .filter-btn {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 12px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 24px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.portfolio-grid .container .filter-btns .filter-btn.active {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

@media (max-width: 991px) {
  .portfolio-grid .container .filter-btns .filter-btn {
    padding: 8px 16px;
  }
}

.portfolio-grid .container .my-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  overflow: hidden;
}

.portfolio-grid .container .my-grid .card {
  border: 0;
  border-radius: 0;
  background: rgba(0, 0, 200, 0.03);
  overflow: hidden;
  height: 350px;
  cursor: pointer;
}

.portfolio-grid .container .my-grid .card img {
  width: 100%;
  height: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio-grid .container .my-grid .card .image-name {
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
  text-align: center;
  height: 50px;
}

.portfolio-grid .container .my-grid .card.hide {
  display: none;
}

.portfolio-grid .container .my-grid .card.show {
  display: block;
  -webkit-animation: zoom .3s ease-in-out;
          animation: zoom .3s ease-in-out;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.my-title {
  padding: 40px 0;
  margin-bottom: 50px;
  font-family: serif;
}

.my-title h2 {
  line-height: 1.6;
  font-weight: normal;
  font-family: serif;
  text-transform: capitalize;
  padding: 20px 0;
  font-style: italic;
  color: #0a0905;
  position: relative;
  font-size: 35px;
  line-height: 1;
  text-transform: uppercase;
}

.my-title h2::before {
  content: '';
  height: 5px;
  width: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #0954a0;
}

.my-title p {
  font-family: serif;
  opacity: .8;
  font-style: italic;
}

.about-me {
  padding: 50px 0;
}

.about-me .container .div img {
  width: 100%;
  height: auto;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 40px;
}

.about-me .container .div .row .inner h2 {
  font-family: serif;
  font-style: italic;
  font-weight: bold;
  opacity: .9;
  margin-bottom: 25px;
}

.about-me .container .div .row .inner p {
  font-size: 16px;
  opacity: .85;
  font-family: serif;
  font-style: italic;
}

.about-me .container .div .row .forms .groups h3 {
  font-family: serif;
  font-weight: 500;
  margin-bottom: 0;
  font-style: italic;
}

.about-me .container .div .row .forms .groups p {
  font-family: serif;
  margin-bottom: 0;
  font-size: 15px;
  opacity: .8;
}

.about-me .container .div .row .forms .groups.social-links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.about-me .container .div .row .forms .groups.social-links div i {
  height: 40px;
  width: 40px;
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.about-me .container .div .row .forms .form-inputs input, .about-me .container .div .row .forms .form-inputs textarea {
  width: 100%;
  padding: 10px;
  border: 0;
  margin-bottom: 10px;
  background: #e5e5e5;
  font-family: serif;
}

.about-me .container .div .row .forms .form-inputs input::-webkit-input-placeholder, .about-me .container .div .row .forms .form-inputs textarea::-webkit-input-placeholder {
  font-family: serif;
  font-style: italic;
}

.about-me .container .div .row .forms .form-inputs input:-ms-input-placeholder, .about-me .container .div .row .forms .form-inputs textarea:-ms-input-placeholder {
  font-family: serif;
  font-style: italic;
}

.about-me .container .div .row .forms .form-inputs input::-ms-input-placeholder, .about-me .container .div .row .forms .form-inputs textarea::-ms-input-placeholder {
  font-family: serif;
  font-style: italic;
}

.about-me .container .div .row .forms .form-inputs input::placeholder, .about-me .container .div .row .forms .form-inputs textarea::placeholder {
  font-family: serif;
  font-style: italic;
}

.about-me .container .div .row .forms .form-inputs input:hover, .about-me .container .div .row .forms .form-inputs textarea:hover {
  background: #c4c3c3;
}

.about-me .container .div .row .forms .form-inputs .btn {
  background: #e5e5e5;
  border-radius: 0;
  font-family: serif;
  font-style: italic;
  font-weight: 600;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 12px;
}

.about-me .container .div .row .forms .form-inputs .btn:hover {
  background: #c4c3c3;
}

.album-section {
  padding-top: 50px;
}

.album-section .container .row {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .album-section .container .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.album-section .container .row .card {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 0;
}

.album-section .container .row .card img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.album-section .container .row .card .details {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.album-section .container .row .card .details h4 {
  font-family: serif;
  color: white;
  font-style: italic;
  margin-bottom: 0;
}

.album-section .container .row .card .details p {
  font-style: italic;
  font-family: serif;
  color: white;
  opacity: .8;
}

.album-section .container .row .card:hover .details {
  opacity: 0;
}

.album-section .container .row .card:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.go-to-top {
  height: 50px;
  width: 35px;
  position: fixed;
  bottom: 10%;
  right: 10%;
  background: rgba(255, 255, 255, 0.615);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 4px;
  -webkit-box-shadow: 0 0 4px black;
          box-shadow: 0 0 4px black;
  cursor: pointer;
}

.go-to-top a {
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.preview-image {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.preview-image .containers {
  max-width: 600px;
  max-height: 600px;
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
  margin: 20px;
  border-radius: 20px;
  position: relative;
}

.preview-image .containers img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.preview-image .containers i {
  position: absolute;
  right: 10%;
  top: 10%;
  background: white;
  height: 30px;
  width: 30px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 4px #181a2b;
          box-shadow: 0 0 4px #181a2b;
}

.preview-image.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: zzoom .1s ease-in-out;
          animation: zzoom .1s ease-in-out;
}

@-webkit-keyframes zzoom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zzoom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.services {
  height: 70vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 30, 0.4)), to(rgba(0, 0, 30, 0.4))), url(https://media.istockphoto.com/photos/asian-senior-couple-enjoy-on-the-beach-picture-id1322107286?b=1&k=20&m=1322107286&s=170667a&w=0&h=rmJtZykmkWlv5mCL5KqYwQ6PXywUT1LmYhzoX_1d6S4=) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 30, 0.4), rgba(0, 0, 30, 0.4)), url(https://media.istockphoto.com/photos/asian-senior-couple-enjoy-on-the-beach-picture-id1322107286?b=1&k=20&m=1322107286&s=170667a&w=0&h=rmJtZykmkWlv5mCL5KqYwQ6PXywUT1LmYhzoX_1d6S4=) no-repeat center center/cover;
}

.service-grid .container .row .card {
  border: 0;
  text-align: center;
  height: 400px;
  margin-bottom: 20px;
}

.service-grid .container .row .card .card-body {
  overflow: hidden;
  height: 100px;
}

.service-grid .container .row .card img {
  height: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.service-grid .container .row .card h4 {
  font-family: serif;
  color: #0a0905;
  font-size: 24px;
  text-transform: uppercase;
}

.service-grid .container .row .card p {
  font-family: serif;
  font-style: italic;
  letter-spacing: .5px;
  font-size: 16px;
  font-weight: normal;
  opacity: .8;
}

footer .container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
}

footer .container .row p {
  font-family: serif;
  margin: 0;
}

footer .container .row div {
  font-family: pt sans;
  font-size: 13pxx;
  margin: 0;
  color: #a08c09;
}
/*# sourceMappingURL=style.css.map */